.title {
  font-family: Greycliff CF, var(--mantine-font-family);
  font-size: rem(44px);
  line-height: 1.2;
  font-weight: 900;

  @media (max-width: $mantine-breakpoint-xs) {
    font-size: rem(28px);
  }
}

.iconWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: rem(40px);
  height: rem(40px);
  border-radius: rem(8px);
  background-color: var(--mantine-color-blue-0);
  color: var(--mantine-color-blue-6);
}
